{% extends 'webapp/base.html' %}

{% block content %}

<h1>Lift of all certificates</h1>
<a href="{% url 'webapp:gift-certificate-add' %}" class="btn btn-success">+ Add New Gift-Certificate</a>
<hr>

{% if certificates %}
    <ul>
        {% for cert in certificates %}
            <li><a href="{% url 'webapp:gift-certificate-detail' cert.id %}">{{ cert.code }} (Balance: {{ cert.balance }})</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No certificate was entered.</p>
{% endif %}

{% endblock %}