<h1>Payment Details</h1>
<hr>
<p><strong>Customer:</strong> {{ payment.customer }}</p>
<p><strong>Ticket:</strong> {{ payment.ticket }}</p>
<p><strong>Gift Certificate:</strong> {{ payment.gift_certificate|default:"N/A" }}</p>
<p><strong>Status:</strong> {{ payment.status }}</p>
<p><strong>Operation Type:</strong> {{ payment.operation_type }}</p>
<p><strong>Processed At:</strong> {{ payment.processed_at }}</p>
<hr>
<a href="{% url 'webapp:payment-update' payment.id %}">Edit this payment</a>
<hr>
<a href="{% url 'webapp:payment-delete' payment.id %}">Delete this payment</a>
<hr>
<a href="{% url 'webapp:payment-list' %}">Return to the list of payments</a>