{% extends 'webapp/base.html' %}

{% block content %}

    <div class="card border-primary p-4 mb-4">
        
        <h1 class="text-center mb-4">Benchmark Results</h1>

        <div class="card border-secondary mb-4">
            <div class="card-header">
                <h4 class="mb-0">Benchmark: Workers</h4>
            </div>
            <div class="card-body text-center overflow-auto">
                {{ chart_benchmark_workers|safe }}
            </div>
        </div>

        <div class="card border-secondary mb-4">
            <div class="card-header">
                <h4 class="mb-0">Benchmark: Load (Requests)</h4>
            </div>
            <div class="card-body text-center overflow-auto">
                {{ chart_benchmark_requests|safe }}
            </div>
        </div>

    </div>

{% endblock %}