{% extends 'webapp/base.html' %}

{% block title %}Cinema Project{% endblock %}

{% block content %}
<div class="row text-center mt-5">
    <div class="col-12">
        <div class="p-5 mb-4 bg-secondary rounded-3">
            <div class="container-fluid py-3">
                <h1 class="display-4 fw-bold">Welcome to Cinema Project</h1>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-4">
                    <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'webapp:film-list' %}" role="button">
                        Films
                    </a>
                    <a class="btn btn-primary btn-lg px-4" href="{% url 'webapp:genre-list' %}" role="button">
                        Genres
                    </a>
                    <a class="btn btn-primary btn-lg px-4" href="{% url 'webapp:session-list' %}" role="button">
                        Sessions
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row align-items-md-stretch mt-3">
    <div class="col-md-6 mb-4">
        <div class="card border-primary h-200">
            <div class="card-body">
                <h4 class="card-title">Explore the Films</h4>
                <div class="d-flex gap-2 mt-3">
                <a href="{% url 'webapp:film-list' %}" class="btn btn-primary flex-grow-2">List</a>
                <a href="{% url 'webapp:film-analytics' %}" class="btn btn-primary flex-grow-2">Analytics</a>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card border-primary h-200">
            <div class="card-body">
                <h4 class="card-title">Explore the Genres</h4>
                <div class="d-flex gap-2 mt-3">
                <a href="{% url 'webapp:genre-list' %}" class="btn btn-primary flex-grow-2">List</a>
                <a href="{% url 'webapp:genre-analytics' %}" class="btn btn-primary flex-grow-2">Analytics</a>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card border-primary h-200">
            <div class="card-body">
                <h4 class="card-title">Explore the Customers</h4>
                <div class="d-flex gap-2 mt-3">
                <a href="{% url 'webapp:customer-list' %}" class="btn btn-primary flex-grow-2">List</a>
                <a href="{% url 'webapp:customer-analytics' %}" class="btn btn-primary flex-grow-2">Analytics</a>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card border-primary h-200">
            <div class="card-body">
                <h4 class="card-title">Explore the Tickets</h4>
                <div class="d-flex gap-2 mt-3">
                <a href="{% url 'webapp:ticket-list' %}" class="btn btn-primary flex-grow-2">List</a>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card border-primary h-200">
            <div class="card-body">
                <h4 class="card-title">Explore the Halls</h4>
                <div class="d-flex gap-2 mt-3">
                <a href="{% url 'webapp:hall-list' %}" class="btn btn-primary flex-grow-2">List</a>
                <a href="{% url 'webapp:hall-analytics' %}" class="btn btn-primary flex-grow-2">Analytics</a>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card border-primary h-200">
            <div class="card-body">
                <h4 class="card-title">Explore the Seats</h4>
                <div class="d-flex gap-2 mt-3">
                <a href="{% url 'webapp:seat-list' %}" class="btn btn-primary flex-grow-2">List</a>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card border-primary h-200">
            <div class="card-body">
                <h4 class="card-title">Explore the Sessions</h4>
                <div class="d-flex gap-2 mt-3">
                <a href="{% url 'webapp:session-list' %}" class="btn btn-primary flex-grow-2">List</a>
                <a href="{% url 'webapp:session-analytics' %}" class="btn btn-primary flex-grow-2">Analytics</a>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card border-primary h-200">
            <div class="card-body">
                <h4 class="card-title">Explore the Gift Certificates</h4>
                <div class="d-flex gap-2 mt-3">
                <a href="{% url 'webapp:gift-certificate-list' %}" class="btn btn-primary flex-grow-2">List</a>
                <a href="{% url 'webapp:gift-certificate-analytics' %}" class="btn btn-primary flex-grow-2">Analytics</a>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card border-primary h-200">
            <div class="card-body">
                <h4 class="card-title">Explore Payments</h4>
                <div class="d-flex gap-2 mt-3">
                <a href="{% url 'webapp:payment-list' %}" class="btn btn-primary flex-grow-2">List</a>
            </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}